body {
    background-color: rgba(219, 221, 231, 0.559);
}

.container {
    background-color: rgb(33, 184, 189);
    padding: 20px;
    border-radius: 20px;
    width: 50%;
    box-shadow: 2px 2px 6px 1px black;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

button {
    width: 25%;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    border: 2px double black;
}

button:hover {
    background-color: rgb(0, 47, 255);
}

#average {
    margin-top: 15px;
}

input {
    margin: 10px;
}